body {
	color: white;
	background-color: black;
	font-family: Arial;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 30px solid transparent;
}

button {
	color: black;
	background-color: grey;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;

	border-width: 5px;
	border-radius: 5px;
	border-color: black;

}

.space {
	border-width: 1px;
	border-style:dotted;
	border-color: white;
}

.about {
	margin-right: 50px;
	padding: 5px 40px;
}

.interests {
	padding: 5px 40px;
}

.contact {
	margin-left: 50px;
	padding: 5px 40px;
}